{% load staticfiles %}

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.itdiffer.com">
                <img src="{%static 'images/rtt.png' %}" width="100px"> </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li> <a href="{% url 'blog:blog_title' %}">BLOG</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                {% if  user.is_authenticated %}
                 <li><a href="#">{{ user.username }}</a> </li>
                 <li><a href="{% url 'account:user_logout' %}">Logout</a> </li>
                    <li><!- 以下为新增-->
                    <li><a href="{% url 'account:password_change' %}">修改密码</a> </li>
                    <li><a href="{% url 'account:my_infomation' %}">个人信息</a> </li>
                    </li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>